html {
  font-family: sans-serif;
  background-color: #FFEB99;
}

table {
  border-collapse: collapse;
  border: 0px solid rgb(200,200,200);
  border-color: #FFEB99;
  font-size: 2,5rem;
  width: 100%;
}

td {
	background-color: #FC8346;
	height: 40px;
}

td:hover {
	background-color: #FF722C;
}

a {
	letter-spacing: 2px;
	color: #474747;
	margin-top: 5vh;
	margin-left: 12px;
}

.blanc {
	background-color: #FFEB99;
	height: 30px;
}

.blanc:hover {
	background-color: #FFEB99;
}